<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<section style="display: flex; flex-direction: column; align-items: center">
    <h2>Posts</h2>
    <article *ngFor="let post of posts">
        <h3 style="text-align: center">{{post.alt}}</h3>
        <img alt="{{post.alt}}}" src="{{post.src}}">
    </article>
    <div style="text-align: center">
        <button (click)="next()" style="background:#ffff00; border:none; padding: 1rem; font-size: 2rem">next page</button>
    </div>
</section>
<section style="margin: 5rem auto">
</section>
